<!-- <p-toolbar>
    <div class="p-toolbar-group-left">
        <h1> Parsidance Festival </h1>
    </div>
    <div class="p-toolbar-group-right">
        <a routerLink="/home" class="nav-link">HOME</a>
        <a routerLink="/lineup" class="nav-link">LINE-UP</a>
        <a routerLink="/info" class="nav-link">INFO</a>
        <a routerLink="/sponsors" class="nav-link">SPONSORS</a>
        <a routerLink="/about-parsidance" class="nav-link">ABOUT</a>
    </div>
</p-toolbar> -->



<div class="topBar">
    <div class="buttons">
        <fa-icon [icon]="['fas', 'bars']" size="2x" class="menuIcon" (click)="showMenu()"></fa-icon>    
        <a href="https://tickets.parsidance.be" class="ticketButton">TICKETS</a>
    </div >
    <hr class="topBar">
</div>

<div class="parsidanceLogo">
    <a href="./">
        <img class="parsidanceLogo" src="../../assets/svg/Parsidance.svg">
    </a>
    <p class="subtitleLogo">Friday 12.04.2024 - Saturday 13.04.2024</p>
</div>

<div id="menu">
    <div class="xIcon">
        <fa-icon [icon]="['fas', 'xmark']" size="2x" class="xIcon"  (click)="hideMenu()"></fa-icon>    
    </div>
    <ul>
        <li><a href="info">INFO</a></li>
        <li><a href="lineup">LINE UP</a></li>
        <li><a href="history">HISTORY</a></li>
        <li><a href="sponsors">SPONSORS</a></li>
    </ul>  
    
    <div class="trademarkText">
        <a href="/">&copy; Parsidance Festival 2024</a>
    </div>
</div>