<!-- <p-toolbar>
    <div class="p-toolbar-group-left">
        <h1> Parsidance Festival </h1>
    </div>
    <div class="p-toolbar-group-right">
        <a routerLink="/home" class="nav-link">HOME</a>
        <a routerLink="/lineup" class="nav-link">LINE-UP</a>
        <a routerLink="/info" class="nav-link">INFO</a>
        <a routerLink="/sponsors" class="nav-link">SPONSORS</a>
        <a routerLink="/about-parsidance" class="nav-link">ABOUT</a>
    </div>
</p-toolbar> -->

<div class="ticketBanner">
    <div class="ticketButton">
        <a href="https://tickets.parsidance.be" class="ticketButton">TICKETS</a>
        <hr class="ticketButton">
    </div >
</div>

<div class="parsidanceLogo">
    <a href="./">
        <img class="parsidanceLogo" src="../../assets/svg/Parsidance.svg">
    </a>
    <p class="subtitleLogo">Friday 12.04.2024 - Saturday 13.04.2024</p>
</div>

