div.selectTab {
    top: 10vh;
    display: block;
    width: 90%;
    height: 15vh;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: white;
    text-decoration: none;
    font-family: "SatoshiVariable-Bold";
    font-size: 3rem;
    font-style: italic;
    font-weight: 600;
    line-height: normal;  

    margin-bottom: 0px;
}

div.selectTab > ul {
    display: flex;
    justify-content: left;

    margin-left: 0px;
    padding-left: 0px;
}

div.selectTab > ul > li, a {
    list-style: none;
    color: white;
    text-decoration: none;
    font-family: "SatoshiVariable-Bold";
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal; 

    margin-left: 0px;
    margin-right: 8vw;

    cursor: pointer;
}

div.selectTab > ul > li:hover {
    text-decoration: underline;
    text-decoration-color: #458b6a;
    text-decoration-thickness: 2px;
}

a.active {
    text-decoration: underline;
    text-decoration-color: #458b6a;
    text-decoration-thickness: 2px;
}