
<h1 id="bunker" class="stageName">BUNKER</h1>
<div id="a-z" class="artistContainer">
    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Bunker/Vrij_Bunker_DanaMontana.webp">
        <div class="name">
            <h2>Dana Montana</h2>
            <h3>Fri XXu-XXu | Bunker</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Bunker/Vrij_Bunker_Huismus.webp">
        <div class="name">
            <h2>Huismus</h2>
            <h3>Fri XXu-XXu | Bunker</h3>
        </div>
    </div>


    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Bunker/Vrij_Bunker_JeroenDelodder.webp">
        <div class="name">
            <h2>Jeroen Delodder</h2>
            <h3>Fri XXu-XXu | Bunker</h3>
        </div>
    </div>


    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Bunker/Vrij_Bunker_Joyhauser.webp">
        <div class="name">
            <h2>Joyhauser</h2>
            <h3>Fri XXu-XXu | Bunker</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Bunker/Vrij_Bunker_sea.webp">
        <div class="name">
            <h2>séa</h2>
            <h3>Fri XXu-XXu | Bunker</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Bunker/Vrij_Bunker_Superstyling.webp">
        <div class="name">
            <h2>Superstyling</h2>
            <h3>Fri XXu-XXu | Bunker</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Bunker/Vrij_Bunker_Yrd.webp">
        <div class="name">
            <h2>Yrd</h2>
            <h3>Fri XXu-XXu | Bunker</h3>
        </div>
    </div>
</div>

<h1 id="dixieland" class="stageName">DIXIELAND</h1>
<div id="a-z" class="artistContainer">
    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Dixie/Vrij_Dixie_Andrew.webp">
        <div class="name">
            <h2>Andrew</h2>
            <h3>Fri XXu-XXu | Dixie</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Dixie/Vrij_Dixie_Coolman.webp">
        <div class="name">
            <h2>Coolman</h2>
            <h3>Fri XXu-XXu | Dixie</h3>
        </div>
    </div>


    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Dixie/Vrij_Dixie_DjSns.webp">
        <div class="name">
            <h2>Dj Sns</h2>
            <h3>Fri XXu-XXu | Dixie</h3>
        </div>
    </div>


    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Dixie/Vrij_Dixie_DjTim.webp">
        <div class="name">
            <h2>Dj Tim</h2>
            <h3>Fri XXu-XXu | Dixie</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Dixie/Vrij_Dixie_Hafid.webp">
        <div class="name">
            <h2>Hafid</h2>
            <h3>Fri XXu-XXu | Dixie</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Dixie/Vrij_Dixie_MCDoubleU.webp">
        <div class="name">
            <h2>MC Double U</h2>
            <h3>Fri XXu-XXu | Dixie</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Dixie/Vrij_Dixie_MonsieurMathieu.webp">
        <div class="name">
            <h2>Monsieur Mathieu</h2>
            <h3>Fri XXu-XXu | Dixie</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/Vrij_Dixie/Vrij_Dixie_TDB.webp">
        <div class="name">
            <h2>TDB</h2>
            <h3>Fri XXu-XXu | Dixie</h3>
        </div>
    </div>
</div>