<div class="topBar">
    <div class="buttons">
        <div #openButton>
            <fa-icon [icon]="['fas', 'bars']" size="2x" class="menuIcon"></fa-icon>
        </div>  
        <!-- To keep horizLine at same positon as other header (space of PD-logo) -->
        <div class="invisibleSpace"></div>
        <a href="https://tickets.parsidance.be" class="ticketButton">TICKETS</a>
    </div >
    <hr class="topBar">
</div>

<div class="parsidanceLogo">
    <a href="./">
        <img class="parsidanceLogo" src="../../assets/svg/Parsidance.svg">
    </a>
    <p class="subtitleLogo">Friday 12.04.2024 - Saturday 13.04.2024</p>
</div>

<div id="menu" #menuDiv>
    <div class="xIcon" #closeButton>
        <fa-icon [icon]="['fas', 'xmark']" size="2x" class="xIcon"></fa-icon>    
    </div>
    <ul>
        <li><a href="info">INFO</a></li>
        <li><a href="line-up/a-z">LINE UP</a></li>
        <!-- <li><a href="history">HISTORY</a></li> -->
        <li><a href="sponsors">SPONSORS</a></li>
    </ul>  
    
    <div class="trademarkText">
        <a href="/">&copy; Parsidance Festival 2024</a>
    </div>
</div>