
<h1 id="mainstage" class="stageName">MAINSTAGE</h1>

<div id="a-z" class="artistContainer">
    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Mainstage</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Mainstage</h3>
        </div>
    </div>


    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Mainstage</h3>
        </div>
    </div>


    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Mainstage</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Mainstage</h3>
        </div>
    </div>
</div>

<h1 id="bunker" class="stageName">BUNKER</h1>
<div id="a-z" class="artistContainer">
    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Bunker</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Bunker</h3>
        </div>
    </div>


    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Bunker</h3>
        </div>
    </div>


    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Bunker</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Bunker</h3>
        </div>
    </div>
</div>

<h1 id="dixieland" class="stageName">DIXIELAND</h1>
<div id="a-z" class="artistContainer">
    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Dixieland</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Dixieland</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Dixieland</h3>
        </div>
    </div>


    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Dixieland</h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="name">
            <h2>Amber Broos</h2>
            <h3>Sat 12u-19u | Dixieland</h3>
        </div>
    </div>
</div>