h1.stageName {
    color: white;
    text-decoration: none;
    font-family: "SatoshiVariable-Bold";
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  

    margin-bottom: 0px;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    scroll-margin-top: 5.5rem;
}

div.artistContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-flow: row wrap;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}

div.artist {
    width: 25vw;
    margin-bottom: 20px;
}

div.artist > img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center top;
}

div.name > h2, h3{
    color: white;
    text-decoration: none;
    font-family: "SatoshiVariable-Bold";
    font-style: normal;
    font-weight: 300;
    line-height: normal; 
    text-align: start;

    margin-top: 5px;
    margin-bottom: 5px;
}

div.name > h2 {
    font-size: 1.5rem;
}

div.name > h3{
    font-size: 1rem;
    font-style: italic;
}

// For mobile
@media (max-width: 600px) {
    div.artistContainer {
        width: 80%;
    }

    div.artist {
        width: 100%;
        margin-bottom: 35px;
    }

    div.artist > img {
        height: 20vh;
    }

    div.artist.mobile {
        display: none;
    }
}