<app-header></app-header>
<div>
    Gebruik de <a href="https://primeng.org/galleria">Galleria component</a>  van primeNG om alle logo's te
    tonen



    <br>
    User feedback geven op een van volgende manieren (na hoveren over sponserlogo):

    <br><br><br>
    Color Change: Change the color of the icon when hovered over. This could be a subtle shift in hue or a more
    noticeable change to a completely different color.
    <br><br>
    Scale/Zoom: Increase the size of the icon slightly to create a zoom effect. This can be done using the CSS
    transform: scale() property.
    <br>
    <br>
    Shadow: Apply a shadow to the icon, giving it a "lifted" appearance. This can be achieved using the CSS box-shadow
    property.
    <br>
    <br>
    Rotation: Rotate the icon slightly or completely when hovered over, using the CSS transform: rotate() property.
    <br>
    <br>
    Background Highlight: Highlight the background area around the icon, creating a button-like effect. This could be a
    subtle background color change or a more noticeable one.
    <br>
    <br>
    Border: Add or change the border of the icon, which can be done using the CSS border property.
    <br>
    <br>
    Tooltip: Display a tooltip with additional information when the icon is hovered over. This can be implemented using
    various tooltip libraries or frameworks.
    <br>
    <br>
    Text Appearance: Display some text next to the icon when hovered over, providing more information or context about
    the icon's function.
    <br>
    <br>
    Transition Animation: Implement a smooth transition animation for the hover effects, making the change appear more
    fluid and less abrupt.
    <br>
    <br>
    Icon Morphing: Morph the icon into a different icon or shape, which can be achieved using SVG animations or other
    techniques.
</div>