<app-header></app-header>
<!-- 
    <p-carousel class="custom-carousel" [value]="images" [numVisible]="1" [numScroll]="1" [circular]="true"
        [autoplayInterval]="4000">
        <ng-template let-image pTemplate="item">
            <img [src]="image.url" alt="Image description" style="width: 100%; height: auto;">
        </ng-template>
    </p-carousel>

    <div class="marquee-container">
        <span class="marquee-text">
            <ng-container *ngFor="let artist of artists;">
                <span class="artist-name">{{ artist }}</span>
            </ng-container>
        </span>
    </div>

    <p-carousel class="custom-carousel" [value]="logos" [numVisible]="8" [numScroll]="1" [circular]="true" [autoplayInterval]="2000">
    <ng-template let-logo pTemplate="item">
      <img [src]="logo.url" [alt]="logo.alt" style="display: block; margin: 0 auto; width: 100px; height: auto;">
    </ng-template>
  </p-carousel> 
-->

   
<!-- 
    <div class="countdown">
        <p class="countdown">Ticket sale starts in</p>
        <div id="flipdown" class="flipdown"></div>
    </div> 
-->

    <div class="progressTickets">
        <p class="progressBarTitle">Friday sold out for</p>
        <div class="progressBarContainer">
            <div class="progressBar" [style.width.%]="progressFriday"></div>
            <div class="percentageLabel friday">{{progressFriday}}%</div>
        </div>

        <p class="progressBarTitle">Saturday sold out for</p>
        <div class="progressBarContainer">
            <div class="progressBar" [style.width.%]="progressSaturday"></div>
            <div class="percentageLabel saturday">{{progressSaturday}}%</div>            
        </div>
    </div>
    

    <div class="chevronDown" (click)="goToAftermovie()">
        <fa-icon [icon]="['fas', 'chevron-down']" animation="bounce" size="3x" style="color: white"></fa-icon>
    </div>

    <div id="aftermovie" class="aftermovie">       
        <!-- web -->
        <video id="promovidSquare" class="aftermovie" [autoplay]=true [muted]=true [disableRemotePlayback]=true [playsInline]=true>
            <source src="../../assets/promoVids/promovid_square.mp4" type="video/mp4">
            Your browser does not support the video tag.    
        </video>

        <!-- mobile -->
        <video id="promovidVertical" class="aftermovie" [autoplay]=true [muted]=true [disableRemotePlayback]=true [playsInline]=true>
            <source src="../../assets/promoVids/promovid_vertical.mp4" type="video/mp4">
            Your browser does not support the video tag.    
        </video>
    </div>

<app-footer></app-footer>