/*div {
    display: flex;
    justify-content: center; // For horizontal centering
    align-items: center;     // For vertical centering
    height: 100vh;           // Use the full viewport height
    width: 100%;             // Use the full viewport width
  }
  */

:host ::ng-deep .p-carousel {
  width: 85%;
  /* Adjust as needed */
  margin: 0 auto;
  margin-top: 1%;
  /* This will center the carousel horizontally */
}

:host ::ng-deep .p-carousel .p-carousel-content .p-carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

/* Hide the default navigation buttons */
:host ::ng-deep .custom-carousel .p-carousel .p-carousel-prev,
:host ::ng-deep .custom-carousel .p-carousel .p-carousel-next {
  display: none;
}

/* Hide the rectangle at the bottom of the carousel */
:host ::ng-deep .custom-carousel .p-carousel .p-carousel-indicators {
  display: none;
}