// ******* Vorige homepage *******
// :host ::ng-deep .p-carousel {
//   width: 85%;
//   /* Adjust as needed */
//   margin: 0 auto;
//   margin-top: 1%;
//   /* This will center the carousel horizontally */
// }

// :host ::ng-deep .p-carousel .p-carousel-content .p-carousel-item {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 75vh;
// }

// /* Hide the default navigation buttons */
// :host ::ng-deep .custom-carousel .p-carousel .p-carousel-prev,
// :host ::ng-deep .custom-carousel .p-carousel .p-carousel-next {
//   display: none;
// }

// /* Hide the rectangle at the bottom of the carousel */
// :host ::ng-deep .custom-carousel .p-carousel .p-carousel-indicators {
//   display: none;
// }

// /* names of dj's that move */
// .marquee-container {
//   font-size: 1.5em;
//   margin-top: 1.5%;
//   margin-bottom: 1%;
//   width: 100%;
//   overflow: hidden;
//   position: relative;
//   background-color: #ffffff;
//   /* Optional: add a background color */
//   white-space: nowrap;
//   /* Prevents the text from wrapping to the next line */
// }

// .marquee-text {
//   display: inline-block;
//   padding-left: 100%;
//   /* Start position of the text */
//   animation: marquee 15s linear infinite;
//   /* Adjust the time (15s) as needed */
// }

// .artist-name {
//   margin-right: 200px; /* Adjust as needed to control the spacing between artist names */
// }

// @keyframes marquee {
//   from {
//     transform: translateX(0);
//   }

//   to {
//     transform: translateX(-100%);
//   }
// }



// ********* COUNTDOWN *********
// div.countdown {
//   display: block;
//   width: 520px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: 10px;
//   margin-bottom: 10px;
//   height: 30%;
// }

// p.countdown {
//   font-family: 'SatoshiVariable-Bold';
//   font-size: 15px;
//   color: white;
//   font-weight: 200;
//   text-align: start; 
// }

// ********* CURRENT HOMEPAGE *********
div.progressTickets {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

p.progressBarTitle {
  font-family: 'SatoshiVariable-Bold';
  font-size: 15px;
  color: white;
  font-weight: 200;
  text-align: start;
  margin-top: 70px;
  margin-bottom: 5px;
}

div.progressBarContainer {
  position: relative;
  display: block;
  width: 100%;
  border-radius: 4px;
  border: 4px solid white;
  box-sizing: border-box;
}

div.progressBar {
  height: 40px;
  background-color: white;
  transition: width 2s ease-in-out; /* Adjust the duration to match the animation time */
}

div.percentageLabel {
  position: absolute;
  top: 0;
  right: 30px;
  transform: translate(50%, 50%);
  font-weight: bold;
  z-index: 1; 
}

div.percentageLabel.friday {
  font-family: 'SatoshiVariable-Bold';
  font-size: 15px;
  font-weight: 200;
  color: white;
}

div.percentageLabel.saturday {
  font-family: 'SatoshiVariable-Bold';
  font-size: 15px;
  font-weight: 200;
  color: black;
}

div.chevronDown {
  position: absolute;
  top: 100vh;
  transform: translateY(-150%);
  left: calc(50% - 24px);
  cursor: pointer;
  display: block;
}

div.aftermovie {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 30vh;

  width: 100%;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

p.aftermovie {
  font-family: 'SatoshiVariable-Bold';
  font-size: 25px;
  color: white;
  font-weight: 200;
  text-align: center; 

  margin-top: 8%;
}

video.aftermovie {
  width: 70%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

#promovidSquare {
  display: block;
}

#promovidVertical {
  display: none;
}

// For mobile
@media (max-width: 600px) {
  // ********* COUNTDOWN *********
  // p.countdown {
  //   font-size: 0.7rem;
  // } 

  // div.countdown {
  //   width: 200px;
  //   margin-top: 5%;

  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   flex-direction: column;
  // }

  // ********* CURRENT HOMEPAGE *********

  div.progressTickets {
    margin-top: 30%;

  }

  div.chevronDown {
    display: none;
  }

  div.aftermovie {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 20vh;
  
    width: 100%;
    height: 80vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #promovidSquare {
    display: none;
  }

  #promovidVertical {
    display: block;
  }
}