
<div id="a-z" class="artistContainer">
    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="artist name">
            <h2>Amber Broos</h2>
            <h3><a href="/line-up/friday#bunker">Fri 12u-19u | Bunker</a></h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="artist name">
            <h2>Amber Broos</h2>
            <h3><a href="/line-up/friday#bunker">Fri 12u-19u | Bunker</a></h3>
        </div>
    </div>


    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="artist name">
            <h2>Amber Broos</h2>
            <h3><a href="/line-up/saturday#mainstage">Sat 12u-19u | Mainstage</a></h3>
        </div>
    </div>


    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="artist name">
            <h2>Amber Broos</h2>
            <h3><a href="/line-up/friday#mainstage">Fri 12u-19u | Mainstage</a></h3>
        </div>
    </div>

    <div class="artist">
        <img src="../../assets/img/artists/amberbroos.jpg">
        <div class="artist name">
            <h2>Amber Broos</h2>
            <h3><a href="/line-up/saturday#dixieland">Sat 12u-19u | Dixieland</a></h3>
        </div>
    </div>

    <div class="artist"></div>
</div>