<app-header></app-header>

<div class="selectTab">
    <h1>Sponsors 2024</h1>
</div>


<!--
logo's transparant dus geen witte achtergrond<
geen zwart in het logo
logo's gerangschikt volgens meest betaald
logo's goeie afmetingen (goeie kwaliteit)
-->

<div id="sponsors" class="sponsorContainer">


    <div class="sponsor">
        <img src="../../assets/img/sponsors/beeuwsaert.png">
        <div class="sponsor name">
              <h2>Beeuwsaert Construct</h2>
            
        </div>
    </div>

    <div class="sponsor">
        <img src="../../assets/img/sponsors/Bavik.jpg">
        <div class="sponsor name">
            <a class="sponsor-link" href="https://www.brouwerijdebrabandere.be/nl" target="_blank">
                <h2>Bavik</h2>
            </a>
        </div>

    </div>

    <div class="sponsor">
        <img ng-href="https://google.com" src="../../assets/img/sponsors/Floorify.jpg">
        <div class="sponsor name">
            <a class="sponsor-link" href="https://www.floorify.com/nl/" target="_blank">
                <h2>Floorify</h2>
            </a>
        </div>
    </div>

    <div class="sponsor">
        <img src="../../assets/img/sponsors/BarGiraf.jpg">
        <div class="sponsor name">
            <a class="sponsor-link" href="https://www.beeuwsaert-construct.be/nl" target="_blank">
                <h2>Bar Giraf</h2>
            </a>
        </div>
    </div>

    <div class="sponsor">
        <img src="../../assets/img/sponsors/Mulder.png">
        <div class="sponsor name">
            <a class="sponsor-link" href="https://www.beeuwsaert-construct.be/nl" target="_blank">
                <h2>Mulder</h2>
            </a>
        </div>
    </div>

    <div class="sponsor">
        <img src="../../assets/img/sponsors/Hexagon.jpg">
        <div class="sponsor name">
            <a class="sponsor-link" href="https://www.beeuwsaert-construct.be/nl" target="_blank">
                <h2>Hexagon</h2>
            </a>
        </div>
    </div>

    <div class="sponsor">
        <img src="../../assets/img/sponsors/BurgerKing.png">
        <div class="sponsor name">
            <a class="sponsor-link" href="https://www.beeuwsaert-construct.be/nl" target="_blank">
                <h2>Burger King</h2>
            </a>
        </div>
    </div>

    <div class="sponsor">
        <img src="../../assets/img/sponsors/Olijf.png">
        <div class="sponsor name">
            <a class="sponsor-link" href="https://www.beeuwsaert-construct.be/nl" target="_blank">
                <h2>Olijf</h2>
            </a>
        </div>
    </div>







</div>