<app-header></app-header>

<div class="selectTab">
    <h1>Sponsors 2024</h1>
</div>


<!--
logo's transparant dus geen witte achtergrond<
geen zwart in het logo
logo's gerangschikt volgens meest betaald
logo's goeie afmetingen (goeie kwaliteit)
-->

<div id="spnsrs" class="spnsrContainer">
    <div class="spnsr">
        <a class="spnsr-link" href="https://www.beeuwsaert-construct.be/nl" target="_blank">
            <img src="../../assets/img/sponsors/beeuwsaert.png">
            <div class="spnsr name">
                <h2>Beeuwsaert Construct</h2>
            </div>
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.brouwerijdebrabandere.be/nl" target="_blank">
            <img src="../../assets/img/sponsors/Bavik.jpg">
            <div class="spnsr name">
                <h2>Bavik</h2>
            </div>
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.floorify.com/nl/" target="_blank">
            <img src="../../assets/img/sponsors/Floorify.jpg">
            <div class="spnsr name">
                <h2>Floorify</h2>
            </div>
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.bargiraf.be/" target="_blank">
            <img src="../../assets/img/sponsors/BarGiraf.jpg">
            <div class="spnsr name">
                <h2>Bar Giraf</h2>
            </div>
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.muldernaturalfoods.com/en" target="_blank">
            <img src="../../assets/img/sponsors/Mulder.png">
            <div class="spnsr name">
                <h2>Mulder</h2>
            </div>
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.hxgn.be/" target="_blank">
            <img src="../../assets/img/sponsors/Hexagon.jpg">
            <div class="spnsr name">
                <h2>Hexagon</h2>
            </div>
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://stores.burgerking.be/nl/burger-king-roeselare" target="_blank">
            <img src="../../assets/img/sponsors/BurgerKing.png">
            <div class="spnsr name">
                <h2>Burger King Roeselare</h2>
            </div>
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.olijf.be/" target="_blank">
            <img src="../../assets/img/sponsors/Olijf.png">
            <div class="spnsr name">
                <h2>Olijf</h2>
            </div>
        </a>
    </div>
</div>