<app-header></app-header>

<div class="selectTab">
    <h1>MET DANK AAN</h1>
</div>


<!--
logo's transparant dus geen witte achtergrond<
geen zwart in het logo
logo's gerangschikt volgens meest betaald
logo's goeie afmetingen (goeie kwaliteit)
-->

<div id="spnsrs" class="spnsrContainer">
    <div class="spnsr">
        <a class="spnsr-link" href="https://www.hxgn.be/" target="_blank">
            <img src="../../assets/img/sponsors/Hexagon.svg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.aluwood.be/" target="_blank">
            <img src="../../assets/img/sponsors/Aluwood.webp">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://wearebomber.be/" target="_blank">
            <img src="../../assets/img/sponsors/Bomber.svg">
        </a>
    </div>
    
    <div class="spnsr">
        <a class="spnsr-link" href="https://www.hannibal.be/nl" target="_blank">
            <img src="../../assets/img/sponsors/Hannibal.svg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.cayseele.be/" target="_blank">
            <img src="../../assets/img/sponsors/Cayseele.webp">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.slashagency.be/" target="_blank">
            <img src="../../assets/img/sponsors/SlashAgency.png">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.titeca.be/en/" target="_blank">
            <img src="../../assets/img/sponsors/TitecaAccountancy.jpg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.maslo.be/" target="_blank">
            <img src="../../assets/img/sponsors/Maslo.jpg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.bargiraf.be/" target="_blank">
            <img src="../../assets/img/sponsors/BarGiraf.png">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.renoforce.be/" target="_blank">
            <img src="../../assets/img/sponsors/RenoforceWithoutBackground.png">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://inthelead.be/" target="_blank">
            <img src="../../assets/img/sponsors/InTheLead.svg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://esdbvba.be/" target="_blank">
            <img src="../../assets/img/sponsors/ESD.png">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.tecjobz.be/" target="_blank">
            <img src="../../assets/img/sponsors/tecjobz.svg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://ixina.be/nl/" target="_blank">
            <img src="../../assets/img/sponsors/Ixina.svg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.olijf.be/" target="_blank">
            <img src="../../assets/img/sponsors/Olijf.png">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.bofisc.be/" target="_blank">
            <img src="../../assets/img/sponsors/Bofisc.svg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.congristruct.be/" target="_blank">
            <img src="../../assets/img/sponsors/Congristruct.webp">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://groepdgb.be/" target="_blank">
            <img src="../../assets/img/sponsors/GroepDGB.svg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.idelco.be/" target="_blank">
            <img src="../../assets/img/sponsors/Idelco.jpeg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://dejonckheere-roeselare.bmw.be/" target="_blank">
            <img src="../../assets/img/sponsors/BMWDejonckheere.png">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.muldernaturalfoods.com/en" target="_blank">
            <img src="../../assets/img/sponsors/Mulder.png">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.funnycastle.be/" target="_blank">
            <img src="../../assets/img/sponsors/FunnyCastle.png">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://sijs.be/nl/Home" target="_blank">
            <img src="../../assets/img/sponsors/Sijs.webp">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.optiekvanneste.be/" target="_blank">
            <img src="../../assets/img/sponsors/OptiekVanNeste.png">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.kantoorverstraete.be/nl-be/node/1" target="_blank">
            <img src="../../assets/img/sponsors/KantoorVerstraete.png">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.anamcara-thuisverpleging.be/" target="_blank">
            <img src="../../assets/img/sponsors/AnamCara.webp">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://agristo.com/nl" target="_blank">
            <img src="../../assets/img/sponsors/Agristo.svg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.qenopauwels.be/" target="_blank">
            <img src="../../assets/img/sponsors/Qenopauwels.webp">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.qenopauwels.be/" target="_blank">
            <img src="../../assets/img/sponsors/Rovel.jpg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.belistate.be/node/1" target="_blank">
            <img src="../../assets/img/sponsors/Belistate.svg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="http://www.groepdevos.be/" target="_blank">
            <img src="../../assets/img/sponsors/Devos.gif">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://sleeplife.be/nl/winkels/sleeplife-roeselare" target="_blank">
            <img src="../../assets/img/sponsors/Sleeplife.svg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.sofieverhaeghe.be/" target="_blank">
            <img src="../../assets/img/sponsors/ApotheekSofieVerhaeghe.png">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.kbc.be/particulieren/nl/kantoor/3043-ROESELARE-OEKENSESTRAAT-9.html" target="_blank">
            <img src="../../assets/img/sponsors/KBC.svg">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://decocarsledegem.be/" target="_blank">
            <img src="../../assets/img/sponsors/Decocars.png">
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://airvisuals.be/" target="_blank">
            <h2>AirVisuals</h2>
        </a>
    </div>

    <div class="spnsr">
        <a class="spnsr-link" href="https://www.expertsingifts.com/" target="_blank">
            <h2>Jasa</h2>
        </a>
    </div>

    
    <div class="spnsr">
        <a class="spnsr-link" href="" target="_blank">
            <h2>D. Silicone Moulds</h2>
        </a>
    </div>

    <div class="spnsr">
    </div>

    <div class="spnsr">
    </div>
</div>
